<weather-input searchbycoordinates='$ctrl.searchByCoordinates()'
  searchbylocation='$ctrl.searchByLocation()'
  lat='$ctrl.lat' lon='$ctrl.lon'
  city='$ctrl.city' state='$ctrl.state' zip='$ctrl.zip'
  chosenweathertype='$ctrl.chosenweathertype'>
</weather-input>
<current-weather weather='$ctrl.weatherData.currently'
  weatherdatareceived='$ctrl.weatherdatareceived'
  ng-show='$ctrl.currently'>
</current-weather>
<hourly-weather weather='$ctrl.weatherData.hourly'
  weatherdatareceived='$ctrl.weatherdatareceived'
  ng-show='$ctrl.hourly'>
</hourly-weather>
<minutely-weather weather='$ctrl.weatherData.minutely'
  weatherdatareceived='$ctrl.weatherdatareceived'
  ng-show='$ctrl.minutely'>
</minutely-weather>
<daily-weather weather='$ctrl.weatherData.daily'
 weatherdatareceived='$ctrl.weatherdatareceived'
 ng-show='$ctrl.daily'>
</daily-weather>
