<section ng-if='$ctrl.weatherDaily'>
  <header>
    <h1>Daily Weather</h1>
    <h2>Summary: {{ $ctrl.weatherDaily.summary}}</h2>
    <img ng-src="{{ $ctrl.imageLookup[$ctrl.weatherDaily.icon] || $ctrl.missingImage}}"/>
  </header>
  <main>
    <p ng-repeat="x in $ctrl.weatherDaily.data">
      ------------------------<br>
      Date: {{ x.time* 1000|date: 'fullDate'}}<br>
      <img ng-src="{{ $ctrl.imageLookup[x.icon] || $ctrl.missingImage}}"/><br>
      Summary: {{ x.summary }} <br>
      Precipitation Probability: {{ x.precipProbability * 100 |number: 0}}% <br>
      High Temperature: {{ x.temperatureMax | number: 0}}&deg; F <br>
      Low Temperature: {{ x.temperatureMin | number: 0}}&deg; F <br>
      Humidity: {{ x.humidity * 100 | number: 0}}% <br>
      UV Index: {{ x.uvIndex}} <br>
    </p>
  </main>
</section>
<!-- <pre>{{ $ctrl.weatherDaily | json }}</pre> -->
