<section ng-if=" $ctrl.weatherdatareceived
  && ($ctrl.chosenweathertype=='Hourly' || $ctrl.chosenweathertype=='All')">
  <header>
    <h1>Weather by the Hour</h1>
    <h1>Summary: {{ $ctrl.weather.summary}}</h1>
    <img ng-src="{{ $ctrl.imageLookup[$ctrl.weather.icon]  || $ctrl.missingImage}}" />
  </header>
  <main>
    <p ng-repeat="x in $ctrl.weather.data">
      ------------------------ <br>
      Time: {{ x.time * 1000 |date: 'short' }} <br>
      Precipitation Probability: {{ x.precipProbability * 100  |number: 0 }} % <br>
      <img class="detail-icon" ng-src="{{ $ctrl.imageLookup[x.icon] || $ctrl.missingImage }}" /><br>
      Humidity: {{ x.humidity * 100 | number: 0}} % <br>
      Temperature: {{ x.temperature | number: 0}}&deg; F <br>
      Feels Like: {{ x.apparentTemperature | number: 0}}&deg; F <br>
      UV Index: {{ x.uvIndex}} <br>
      Summary: {{ x.summary}} <br>
    </p>
  </main>
</section>
  <!-- <pre>{{ $ctrl.weather | json }}</pre> -->
