<section>
  <div>
    <label>Latitude:</label>
    <input type="number" ng-model='$ctrl.lat' >
  </div>
  <div>
    <label>Longitude: </label>
    <input type="number" ng-model='$ctrl.lon'>
  </div>
  <div>
    <button type="button" ng-click='$ctrl.search()'>Search</button>
  </div>
</section>
<section ng-if='$ctrl.weatherHourly'>
  <header>
    <h1>Hourly:</h1>
    <h1>Summary: {{ $ctrl.weatherHourly.summary}}</h1>
    <img ng-src="{{ $ctrl.imageLookup[$ctrl.weatherHourly.icon]  || $ctrl.missingImage}}" />
  </header>
  <main>
    <p ng-repeat="x in $ctrl.weatherHourly.data">
      ------------------------ <br>
      Time: {{ x.time * 1000 |date: 'short' }} <br>
      Precipitation Probability: {{ x.precipProbability * 100  |number: 1 }} % <br>
      <img class="detail-icon" ng-src="{{ $ctrl.imageLookup[x.icon] || $ctrl.missingImage }}" /><br>
      Humidity: {{ x.humidity * 100 | number: 0}} % <br>
      Temperature: {{ x.temp}} <br>
      Feels Like: {{ x.feelTemp}} <br>
      UV Index: {{ x.uvIndex}} <br>
      Summary: {{ x.summary}} <br>
    </p>
  </main>
</section>
  <pre>{{ $ctrl.weatherHourly | json }}</pre>
