    <section ng-if=" $ctrl.weatherdatareceived
      && ($ctrl.chosenweathertype=='Current' || $ctrl.chosenweathertype=='All')">
      <header>
        <h2>Current Weather</h2>
        <p>Precipitation Probability: {{ $ctrl.weather.precipProbability * 100 | number:1 }}%</p>
        <img ng-src="{{ $ctrl.imageLookup[$ctrl.weather.icon] || $ctrl.missingImage }}" />
        <p>{{ $ctrl.weather.time * 1000 | date: 'short'}}</p>
      </header>
      <main>
        <h1> Humidity: {{ $ctrl.weather.humidity * 100 | number: 0 }}%</h1>
        <div>
          <h1>Temperature: {{ $ctrl.weather.temperature  | number: 0}}&deg; F</h1>
          <h2>Feels like: {{ $ctrl.weather.apparentTemperature | number: 0}}&deg; F</h2>
        </div>
        <h1>UV Index: {{ $ctrl.weather.uvIndex }}</h1>
      </main>
      <footer>
        <h1>Summary: {{ $ctrl.weather.summary }}</h1>
          ------------------------<br>
      </footer>
  </section>
  <!-- <pre>{{ $ctrl.weather | json }}</pre> -->
