/*body{
  background-color: aliceblue;
}*/
img{
  height: 150px;
}
img.detail-icon{
 height: 50px;
}
.divider{
  padding-left: 100px;
  margin-top:5px;
  margin-bottom: 5px;
}
section{
  margin-bottom: 25px;
}
